#header {
    background-image: url("../../assets/MainPageHeader.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right -200px;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titr{
    margin-top: 200px;
    margin-bottom: -70px;
    color: #e6f8f8;
    font-weight: bold;
    font-size: 20px;
}

.titr span{
    color: #ee6c4d;
}